body {
	overflow-x: hidden;
    background-color: #eef2f3;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
    background: #eef2f3; 
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
}


header {
    background: #0b1f33;
    color: #00f0ff;
    padding: 30px;
    text-align: center;
    width: 100%;
    border-radius: 
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 8px;
    font-size: 16px;
}


nav {
    background: #ffffff;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

nav a {
    color: #11998e;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #0c7c6c;
    border-bottom: 2px solid #0c7c6c;
}


section {
    padding: 30px;
}

section h2 {
    color: #11998e;
    margin-bottom: 15px;
}


ul, ol {
    margin-left: 20px;
    line-height: 1.8;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: #11998e;
    color: white;
    padding: 10px;
}

table td {
    border: 1px solid #ddd;
    padding: 10px;
}


img {
    border-radius: 8px;
    margin: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}


footer {
    background: #11998e;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

ul {
    line-height: 1.8;
}

.section-box {
    background: #1a1a1a;
	color: #00f0ff
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00f0ff;
}

.gallery img {
    width: 100%;
}



.dark-container {
    background: #0b1f33;
    min-height: 100vh;
    color: #00f0ff;
    font-family: "Segoe UI", Arial, sans-serif;
}


.dark-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
	background-color: #0f0f0f;
}

.logo {
     text-shadow: 0 0 10px #00f0ff;
    font-size: 24px;
}

.logo span {
    color: #e50914;
}

.dark-nav ul {
    list-style: none;
    display: flex;
}

.dark-nav ul li {
    margin-left: 25px;
}

.dark-nav ul li a {
    color:#00f0ff;
    text-decoration: none;
    font-size: 16px;
}

.dark-nav ul li a:hover,
.dark-nav ul li a.active {
    color: #00ffff;
    text-shadow: 0 0 10px #00f0ff;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
	max-width: 1200px;
    margin: auto;
}

.hero-text {
    width: 50%;
}

.hero-text h3 {
    color: #00f0ff;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.name-highlight {
     text-shadow: 0 0 10px #00f0ff; 
}

.hero-text p {
    color: #ccc;
    line-height: 1.8;
    margin-bottom: 25px;
}

.btn {
     background: #00f0ff;
    color: #0b1f33;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #00ffff;
    box-shadow: 0 0 20px #00f0ff;
}


.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #00f0ff;
    box-shadow: 0 0 20px #00f0ff;
}

.contact {
    text-align: center;
    padding: 60px;
}

.contact h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact p {
    color: #ccc;
    margin-bottom: 40px;
}

.contact-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 900px;
    margin: auto;
}

.contact-item {
    background: #1a1a1a;
	color: #00f0ff
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #00f0ff;
	box-shadow: 0 0 15px #00f0ff;
}

.contact-item h3 {
    color: #00f0ff;
    margin-bottom: 10px;
}

.contact-item p {
    color: #eee;
}



.biodata {
    padding: 60px;
    text-align: center;
}

.biodata h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.biodata p {
    color: #ccc;
    margin-bottom: 40px;
}

.biodata-box {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.biodata-item {
    background: #1a1a1a;
	text-shadow: #00f0ff;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    border-left: 7px solid #00f0ff;
	box-shadow: 0 0 15px #00f0ff;
}

.biodata-item span {
    color: #00f0ff;
    font-size: 14px;
}

.biodata-item p {
    margin-top: 5px;
    font-size: 16px;
    color: #eee;
}



.education {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.education p {
    color: #ccc;
    margin-bottom: 50px;
}

.timeline {
    max-width: 800px;
    margin: auto;
    position: relative;
    padding-left: 30px;
    border-left: 4px solid #00f0ff; 
}

.timeline-item {
    margin-bottom: 40px;
    padding-left: 20px;
}

.year {
    color: #00f0ff;
    font-weight: bold;
    font-size: 14px;
}

.timeline-item h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.timeline-item p {
    color: #ccc;
}



.experience {
    padding: 60px 20px;
    text-align: center;
}

.experience h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.experience p {
    color: #ccc;
    margin-bottom: 40px;
}

.experience-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 900px;
    margin: auto;
}

.experience-item {
    background: #1a1a1a;
	color: #00f0ff;
    padding: 25px;
    border-radius: 10px;
    border-left: 7px solid #00f0ff;
    text-align: left;
	box-shadow: 0 0 15px #00f0ff;
}

.experience-item h3 {
    color: #00f0ff;
    margin-bottom: 10px;
}

.experience-item span {
    color: #ccc;
    font-size: 14px;
}

.experience-item p {
    color: #eee;
    margin-top: 5px;
    font-size: 15px;
}



.gallery-section {
    padding: 60px 20px;
    text-align: center;
}

.gallery-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.gallery-section p {
    color: #ccc;
    margin-bottom: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow: 0 0 15px #00f0ff;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* ===== SOCIAL ICONS HOME ===== */

.social-icons {
    margin-top: 25px;
}

.social-icons a {
    color: #00f0ff;
    font-size: 26px;
    margin-right: 20px;
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: #00ffff;
    transform: scale(1.2);
    text-shadow: 0 0 10px #00f0ff;
}

.hero-image a img {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hero-image a img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00f0ff;;
}


.fade-down {
    animation: fadeDown 6s ease forwards;
    opacity: 0;
}

.fade-left {
    animation: fadeLeft 6s ease forwards;
    opacity: 0;
}

.fade-right {
    animation: fadeRight 6s ease forwards;
    opacity: 0;
}

.fade-up {
    animation: fadeUp 6s ease forwards;
    opacity: 0;
}


@keyframes fadeDown {
    0% { opacity: 0; transform: translateY(-30px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeLeft {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeRight {
    0% { opacity: 0; transform: translateX(50px); }
    100% { opacity: 1; transform: translateX(0); }
}